@import "tailwindcss";

@theme {
  --font-wsans: "Work Sans", sans-serif;
  --font-dark: "Qwigley", cursive;
  --font-spook: "Fruktur", system-ui;
  --font-pun: "Gluten", cursive;
  --font-ubuntu: "Ubuntu Condensed", sans-serif;
}

.center {
  @apply top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%]
}

.button {
  @apply p-5 m-7 bg-linear-to-r rounded-3xl flex items-center hover:cursor-pointer hover:scale-90 transition ease-in-out 
}